@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
  font-family: "Stolzl";
  src: url("/fonts/stolzl_regular.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, p, ul{
  margin: 0;
  padding: 0;
  font-family: "Stolzl", "Arial";
}
nav, h1, h2{
  color: #284120;
}
nav, #first-content, #second-content{
  padding: 0px 48px;
}
nav, #first-content{
  background-color: #79DF55;
}

nav{
  display: flex;
  gap: 64px;
  padding: 24px 48px;
}

#start, #center, #end{
  align-self: center;
}
div#start{
  flex-grow: 4;
}
ul{
  display: flex;
  height: 80px;
  gap: 24px;
}

li {
  list-style:none;
  align-self: center;
}

li a {
  font-weight: 500;
  text-decoration: none;
  color:#284120;
}

li a:hover {
  color:#4a713d;
}

#end{
  flex-grow: 1;
}
#end a{
  display: block;
  width: 100%;
  padding: 16px 24px;
  border-radius: 200px;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  color: #284120;
}

#end a:hover{
  background-color: #f2f2f2;
}

/* РАЗДЕЛ ГЛАВНЫЙ */
#first-content{
}

h1{
  padding-top: 64px;
  font-size: 14vw;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  line-height: 140%;
}

h2{
  font-size: 4.5vw;
  text-align: center;
}

#illustration{
  margin-top: 64px;
  height: 1400px;
  min-height: 30vh;
}

.eyes-container{
  position: relative;
  display: flex;
  justify-content:center;
  top: 80px;
  width: 100%;

}

.eyes-container .eyes {
  position: relative;
  width: 224px;
  height: 224px;
  display: block;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 50%;
}

.eyes-container .eyes::before {
  content: "";
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  box-sizing: border-box;
}

.pupil{
  top: 50%;
  left: 10%;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

.card {
  height:39vw;
  border-radius: 1vw;
  position: relative;
}

.card1 {
  width: 85%;
  left: calc((100% - 85%)/2);
  background-color: #71CF50;
  z-index: 1;
}

.card2 {
  background-color: #6DC74D;
  width: 95%;
  left: calc((100% - 95%)/2);
  top: calc(2.5vw - 39vw);
  z-index: 2;
}

.card3 {
  background-color: rgba(255,255,255);
  top: calc(5vw - 39vw * 2);
  z-index: 3;
  overflow: hidden;
}

/* РАЗДЕЛ НАШИ УСЛУГИ */
#second-content{
  display: grid;
  grid-template-rows: 0.333fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 160px 48px;
  background-color: #F2F2F2;
  transition: background-color 0.3s ease;
}

.about-service{
  grid-column: 2/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 24px;
  align-items: start;
  
}

.about-service h2, .about-service p{
  color: #787878;
  transition: color 0.3s ease;
}

.hovered h2, .hovered p{
  color: rgba(255,255,255,0.6)
}
#second-content .white-text h2{
  color: #ffffff;
}

.about-service h2{
  grid-column: 1/5;
  text-align: left;
  font-size: 48px;
}

.about-service p{
  grid-column: 5/10;
  font-size: 24px;
}

#service-list{
  grid-column: 2/5;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
}

.service{
  display: grid;
  grid-template-columns: 96px 1fr;
  gap: 48px;
  align-items: center;
  padding: 48px 0;
  border-bottom: 1px solid #262626
}

.service:last-child{
  border-bottom: none;
}

.service .thumbnail{
  width: 96px;
  height: 96px;
  background: #000000;
  border-radius: 8px;
  box-sizing: border-box;
}
.service h2{
  text-align: left;
  color: #262626;
  font-weight: 300;
}

/* РАЗДЕЛ НАША КОМАНДА */

#team {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 96px 0;
}
#team-list{
  /* top:-200px; */
  position:relative;
  display: flex;
  gap: 6vw;/*96px*/
  margin: 0 10vw;/*240px*/
}

#team h1{
  position: relative;
  top: 200px;
}

#team h1, .profile-card h2, .profile-card p{
  color: #262626;
}

.profile-card{
  width: 100%;
  background-color: #9658C6;
  border-radius: 16px;
  padding: 24px;
}

.profile-card img{
  box-sizing: border-box;
  width: 100%;
  height: 22vw;/*400px*/
  object-fit: cover;
  border: 8px solid rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

.profile-card h2{
  margin-top: 24px;
  font-size: 48px;
}

.profile-card p{
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}

.profile-card:nth-child(1){
  background-color: #C498E8;
}

.profile-card:nth-child(2){
  background-color: #A773CF;
}

#footer canvas {
  background-color: #79DF55;
  overflow: hidden;
  margin-left: 48px;
  margin-bottom: 48px;
  border-radius: 24px;
}
#footer .cta-text{
  position: relative;
  top: 300px;
  width: 940px;
  margin: 0 auto;
}
.cta-text{
  
}
.cta-text h2 {
  margin-top: 24px;
  font-size: 40px;
}

.cta-text p {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: #284120;
}

#footer-mobile{
  display: none;
}

@media (max-width: 1440px) {
  #illustration{
    margin-top: 0px;
    height: 948px;
  }


  /* Раздел наша команда */
  #team-list{

    gap: 48px;
    margin: 0 48px;
  }




  #footer{
    display: none;
  }
  #footer-mobile{
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin: 0 48px 48px 48px;
    padding: 48px 48px;
    background-color: #79DF55;
    border-radius: 16px;
  }
  #footer-mobile > .cta-text h2{
    /* font-size: 16px; */
    font-weight: 400;
  }
  #footer-mobile > .cta-text p{
    font-size: 48px;
  }
  #footer-mobile .socials{
    display: flex;
    gap: 24px;
    width: 100%;
  }
  #footer-mobile > .socials a{
    display: flex;
    width: 100%;
    padding: 48px 16px;
    margin: 0 auto;
    background-color: #C9F2BB;
    border-radius: 24px;
    justify-content: center;
  }
  #footer-mobile > .socials a:hover{
    background-color: #e9ffe1;
  }
  #footer-mobile > .socials > a > div img{
    width: 124px;
    align-self: center;
  }
}
@media (max-width: 1024px) {
  nav{
    padding: 0px;
  }
  #start a{
    display: flex;
    justify-content: center;
  }
  #start > a img{
    height: 164px;
  }

  #center, #end{
    display: none;
  }

  h1{
    display: none;
    padding-top: 0px;
  }

  #illustration{
    margin-top: 0px;
    height: 60vw;
  }
  
  .eyes-container{
    position: relative;
    display: flex;
    justify-content:center;
    top: 16px;
    width: 100%;
  
  }
  
  .eyes-container .eyes {
    width: 10vw;
    height: 10vw;
    margin: 0 1vw;
  }
  
  .eyes-container .eyes::before {
    content: "";
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 7vw;
    height: 7vw;
  }
  
  .pupil{
    width: 2vw;
    height: 2vw;
  }

  .card {
    height:39vw;
  }
  
  .card1 {
    width: 85%;
    left: calc((100% - 85%)/2);
  }
  
  .card2 {
    width: 95%;
    left: calc((100% - 95%)/2);
    top: calc(2.5vw - 39vw);
  }
  
  .card3 {
    background-color: rgba(255,255,255);
    top: calc(5vw - 39vw * 2);
  }

  /* Раздел наши услуги */
  #second-content{
    display: flex;
    flex-direction: column;
    padding: 96px 48px 48px 48px;
  }
  
  .about-service{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .about-service h2{
    font-size: 24px;
  }
  
  .about-service p{
    font-size: 16px;
  }
  
  #service-list{
    padding-top: 24px;
  }
  
  .service{
    display: flex;
    gap: 24px;
    padding: 24px 0;
    border-bottom: 1px solid #b5b5b5
  }
  
  .service .thumbnail{
    width: 48px;
    height: 48px;
  }
  .service h2{
    font-weight: 400;
  }

  /* Раздел наша команда */

  /* #team {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 96px 0;
  }*/
  #team-list{
    gap: 16px;
    margin: 0 48px;
  }

  .profile-card{
    dislpay: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-radius: 16px;
    padding: 24px;
  }

  .profile-card img{
    width: 100%;
    height: 200px;
    border: 4px solid rgba(0, 0, 0, 0.4);
  }

  .profile-card h2{
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
  }

  .profile-card p{
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    align-self: center;
  } 

  #footer{
    display: none;
  }
  #footer-mobile{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 48px;
    background-color: #79DF55;
  }
  #footer-mobile > .cta-text h2{
    font-size: 16px;
    font-weight: 400;
  }
  #footer-mobile .socials{
    display: flex;
    gap: 8px;
    width: 100%;
  }
  #footer-mobile > .socials a{
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    background-color: #C9F2BB;
    border-radius: 8px;
    justify-content: center;
  }
  #footer-mobile > .socials > a > div img{
    width: 48px;
    align-self: center;
  }
}

@media (max-width: 480px) {
  nav{
    padding: 0px;
  }
  #start a{
    display: flex;
    justify-content: center;
  }
  #start > a img{
    height: 164px;
  }

  #center, #end{
    display: none;
  }

  h1{
    display: none;
    padding-top: 0px;
  }

  #illustration{
    margin-top: 0px;
    height: 360px;
  }
  
  .eyes-container{
    position: relative;
    display: flex;
    justify-content:center;
    top: 16px;
    width: 100%;
  
  }
  
  .eyes-container .eyes {
    width: 80px;
    height: 80px;
    margin: 0 0px;
  }
  
  .eyes-container .eyes::before {
    content: "";
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
  
  .pupil{
    width: 16px;
    height: 16px;
  }

  .card {
    height:39vw;
  }
  
  .card1 {
    width: 85%;
    left: calc((100% - 85%)/2);
  }
  
  .card2 {
    width: 95%;
    left: calc((100% - 95%)/2);
    top: calc(2.5vw - 39vw);
  }
  
  .card3 {
    background-color: rgba(255,255,255);
    top: calc(5vw - 39vw * 2);
  }

  /* Раздел наши услуги */
  #second-content{
    display: flex;
    flex-direction: column;
    padding: 96px 48px 48px 48px;
  }
  
  .about-service{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .about-service h2{
    font-size: 24px;
  }
  
  .about-service p{
    font-size: 16px;
  }
  
  #service-list{
    padding-top: 24px;
  }
  
  .service{
    display: flex;
    gap: 24px;
    padding: 24px 0;
    border-bottom: 1px solid #b5b5b5
  }
  
  .service .thumbnail{
    width: 48px;
    height: 48px;
  }
  .service h2{
    font-weight: 400;
  }

  /* Раздел наша команда */

  #team {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 96px 0;
  }
  #team-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 48px;/*240px*/
  }

  .profile-card{
    dislpay: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    background-color: #9658C6;
    border-radius: 16px;
    padding: 24px;
  }

  .profile-card img{
    width: 100%;
    height: 200px;/*400px*/
    border: 4px solid rgba(0, 0, 0, 0.4);
  }

  .profile-card h2{
    margin-top: 16px;
    font-size: 24px;
    text-align: start;
  }

  .profile-card p{
    text-align: start;
    margin-top: 0px;
    font-size: 16px;
    align-self: center;
  }

  #footer{
    display: none;
  }
  #footer-mobile{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 48px;
    background-color: #79DF55;
  }
  #footer-mobile > .cta-text h2{
    font-size: 16px;
    font-weight: 400;
  }
  #footer-mobile .socials{
    display: flex;
    gap: 8px;
    width: 100%;
  }
  #footer-mobile > .socials a{
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    background-color: #C9F2BB;
    border-radius: 8px;
    justify-content: center;
  }
  #footer-mobile > .socials > a > div img{
    width: 48px;
    align-self: center;
  }
}
